#container {
    width: 100%;
    height: 100vh;
    display: flex;
}


#sidebar {
    width: 30%;
    background-color: #fff;
}

#textbox{
    width: 100px;
    height: 100px;
    background-color: blue;
}