.map-container {
    width: 100%;
    height: 100vh;
    display: flex;

}

#map {
    width: 70%;
    flex: 2;
}

#sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: white;
    flex: 1;
}

.textbox {
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 10rem;
}

.selectedRouteText {
    color: red;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.mode-select {
    width: 150px;
}

.station-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    #map {
        width: 100%;
        min-height: 60%;
    }

    #sidebar {
        width: 100%;
    }

    .title-container {
        margin-top: 0;
    }

    .station-title-container {
        margin-top: 0;
    }

    #sidebar h1 {
        font-size: 1.5rem;
    }

    #sidebar h2 {
        font-size: 1.2rem;
    }

    #sidebar h3 {
        font-size: 1rem;
    }

}